-pages = ['inicio', 'resume', 'portfolio', 'contacto']
-var currentPage = "inicio";
-var title = "Adan Uri Plata";
-var description = "Sitio web de prueba";

//- Educacion

-var education = []
-education.push({title: 'Ing. Ciencias de la Computación', description: 'Benemerita Universidad Autonoma de Puebla', year: '2012-2017'})
-education.push({title :'Database Fundamentals',description: 'Microsoft MTA', year: '2015'})
-education.push({title: 'Google Adwords Certified', description: 'Google Partners Academy', year: '2016'})


//- Jobs

-var jobs = []
-jobs.push({title: 'Marketing Digital / Desarrollador Web', company: 'Inmobiliaria Aguilar', description: 'Desarrollo e implementación de estrategias de marketing digital y Desarrollo web', year: '2016 - 2018'})

//- portfolio
-var projects = []
-projects.push({title: 'Te estamos buscando-LandingPage', image: 'teestamos.png', url: 'http://teestamosbuscando.mx/' })
-projects.push({title: 'Promo dia del Padre-LandingPage', image: 'promotv.png', url: 'http://www.casasaguilar.com.mx/promo_tv/' })
-projects.push({title: 'Liminex - Sitio Web', image: 'liminex.png', url: 'http://liminex.com.mx/' })
