.contact
    h2.subtitle.contact__title Contacto
    .contact__form
        form(action="#")
            p.contact__form__title Envia un mensaje
            label(for="name").contact__form__label-name Nombre
            input(type="text" name="name" id="name").contact__form__input-name
            label(for="correo").contact__form__label-mail Correo
            input(type="mail" name="mail" id="mail").contact__form__input-mail
            label(for="mesagge").contact__form__label-mesaje Mensaje
            textarea(name="mesagge", cols="30", rows="10" id="mesagge").contact__form__input-textarea
            input(type="submit").contact__form__submit