.main
    h1.main__name ADAN URI
        br
        span.main__lastname PLATA
    h2.main__job Web Developer - Digital Marketer
    .main__buttons
        a(href="#").button.main__buttons-potfolio PORTFOLIO
        a(href="#").button.main__buttons-resume RESUME
    .main__social-media
        a(href="#").main__social-media__item
            i.fab.fa-github 
        a(href="#").main__social-media__item
            i.fab.fab.fa-twitter 
        a(href="#").main__social-media__item 
            i.fab.fa-linkedin 