append config
.portfolio
    h2.subtitle.portfolio__title Portfolio
    each item, index in projects
        .portfolio__item#portafolio__item
            img(src='img/' + item.image, alt="").portfolio__item__img
            .portfolio__item__modal
                p.portfolio__item__modal__title #{item.title}
                a(href=item.url).button.main__buttons-potfolio.portfolio__item__modal__button VISITAR