extends templates/template.pug

block main
    include blocks/main.pug
block education
    include blocks/education.pug
block jobs
    include blocks/jobs.pug
block portfolio
    include blocks/portfolio.pug
block contact
    include blocks/contact.pug