.contact{
    &__form{
        background: color(dark);
        color: color(light);
        padding: 30px 20px;
        &__title{
            padding: 20px;
            font-size: font(main-subtitle-2);
            font-weight: bold;
            text-align: left;
        }
        &__submit{
            cursor: pointer;
            text-align: center;
            margin-top: 10px;
        }
    }
}

.contact label, input{
    display: inline-block;
    width: 100%;
    margin-top: 10px;
}